@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using SpaDay.ViewModels;
@model AddUserViewModel

<form  method="POST">

  

<div>
    <label asp-for="UserName">Enter your user name.</label>
    <input type="text" asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
</div>
    
<div>
    <label asp-for="Email">Enter your email.</label>
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
</div>
    
<div>
    <label asp-for="PassWord">Enter your password.</label>
    <input type="password" asp-for="PassWord" />
    <span asp-validation-for="PassWord"></span>
</div>
   
<div>
    <label asp-for="VerifyPassword">Verify your password.</label>
    <input type="password" asp-for="VerifyPassword" />
    <span asp-validation-for="VerifyPassword"></span>
</div>
   

    <input type="submit" value="Submit" />



</form>
